/* PAGE */

body {
	font-family: times;
	max-width: 900px;
	padding: 1.7% 3.9% 5%;
	margin: 0 auto;
	line-height: 1.25; /*15px/12px*/
}

a {
	text-decoration: none;
}

/* HEADER */

header h1 {
	font-family: 'Yellowtail', cursive;
	font-size: 2.3em;
	margin-bottom: -0.47em;
}

header p {
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-size: 0.75em;
	color: gray;
}

.icon_right {
	display: inline-block; /*allows social icons to float on right (unlike inline)*/
	margin-left: 0.8%;
}

.social_bar {
	float: right;
	padding-top: 1.6em;
}

.social_bar li {
	display: inline; /*horizontal list*/
	margin-left: -0.15em; /*reduce space between icons*/
}

.social_bar li:nth-child(7) {
	padding-left: 0.625em; /*10px*/
}

.break {
	width: 100%;
	margin-top: 1.5%;
	margin-bottom: 3%;
}

/* RECIPE */

.recipe-name {
	font-family: 'Oswald', sans-serif;
	font-size: 2.5em;
	font-weight: 800;
	margin-bottom: -0.05em;
}

.post-date {
	display: inline; /*print is on same line*/
	font-family: 'Abel', sans-serif;
	font-size: 0.9em;
	color: #D3D3D3;
	position: relative;
	top: 0.2em;
}

.recipe-heading a {
	float: right;
}

.print {
	font-family: 'Abel', sans-serif;
	color: #D3D3D3;
	display: inline; /*wider if inline-block*/
	padding-right: 0.2em;
	position: relative;
	bottom: 0.5em;
	font-size: 0.9em;
}

.cake-image {
	margin-top: 1.6%;
	width: 100%; /*prevent img overflow; scales img*/
}

.directions {
	text-indent: 1.813em;
	line-height: 1.5;
}

.first-paragraph {
	padding-top: 1.8%;
}

.second-paragraph {
	padding-top: 1.8%;
}

.third-paragraph {
	padding-top: 1.8%;
	padding-bottom: 1.8%;

}

/* INGREDIENTS */

.ingredients {
	background: url(../img/paper.jpg) no-repeat;
	font-family: 'Patrick Hand', cursive;
	font-size: 1.5em;
	line-height: 1.3;
	padding: 36px 63px;
	overflow: auto;
	white-space: nowrap;
	box-shadow: 0px 1px rgba(0, 0, 0, 0.3), 0px 2px #fff, 0px 3px rgba(0, 0, 0, 0.3), 0px 4px #fff, 0px 5px rgba(0, 0, 0, 0.3);
}

form {
	display: inline-block; /*columns inline*/
}

.first-column {
	margin-right: 170px;
}

.second-break {
	width: 100%;
	margin-top: 5%;
	margin-bottom: 1.2%;
}

/* ABOUT */

.about img {
	border-radius: 100%;
	position: relative;
	top: -0.8em;

}

.description {
	display: inline-block; /*all items in one line*/
	width: 63.4%;
	margin-left: 1.2em;
}

.description p {
	position: relative;
	top: -0.5em;
}

.share-recipe {
	display: inline-block; /*stops button from extending across page*/
	float: right;
	background: #BD7059;
	height: 54px;
	width: 185px;
	margin-top: 1.9em;
}

.share-recipe p {
	font-family: 'Abel', sans-serif;
	color: white;
	text-align: center;
}

/* FOOTER */

footer {
	padding-top: 4.3%;
	clear: both;
}

footer img {
	display: block; /*margins do not center image without display:block*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -1.5em; /*image is on top*/
}

.copyright {
	font-family: times;
	color: gray;
	text-align: center;
	line-height: 0.4;
	margin-top: 1.7%;
}
